		body {
			width:768px;
			height:1024px;
			margin:auto;
			 font-family:Arial, Helvetica, Sans-Serif;
			font-size:14px;
		}
		
		a {
			color:#666666;
			text-decoration:none;
		}

		.Iluminado {
				background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(242,255,0,0.5) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(242,255,0,0.5)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(242,255,0,0.5) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(242,255,0,0.5) 50%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(242,255,0,0.5) 50%,rgba(255,255,255,0) 100%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(242,255,0,0.5) 50%,rgba(255,255,255,0) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

		}

		#Encabezado {
			margin-top:10px;
			width:100%;
			height:15%;
			padding:10px;
			display:table;
			border-collapse:collapse;
		}
		#EncabezadoRow {
			 display:table-row;
			 text-align:left;
			 font-family:Arial, Helvetica, Sans-Serif;
			font-size:14px;
			color:#888;
		}
		#EncabezadoCell {
			 display:table-cell;
			 text-align:left;
			 font-family:Arial, Helvetica, Sans-Serif;
			font-size:14px;
			color:#888;
		}
		#EncabezadoCellIzq {
			 display:table-cell;
			 text-align:left;
			 font-family:Arial, Helvetica, Sans-Serif;
			font-size:14px;
			color:#888;
			width:120px;
			font-weight:bold;
		}
		
		
		#BarraIzquierda {
			width:240px;
			height:100%;
			background-color:#f0f0f0;
			float:left;
			padding:2px;
		}
		
		#Resumen {
			width:100%px;
			height:78%;
			background-color:#f0f0f0;
			overflow-y: scroll;
		}
		
		#Apuesta {
			display:block;
			width:240px;
			text-align:center;
			margin:0;
			padding:0;
			height:32px;
		}
		
		.Numero {
			font-family:Arial, Helvetica, Sans-Serif;
			font-size:18px;
			color:#888;
			text-transform:uppercase;
			margin:0;
			font-weight:bold;
			border-right:1px solid #cccccc;
			border-bottom:1px dashed #cccccc;
			border-top:1px dashed #cccccc;
			padding-right:5px;
			width:30%;
			float:left;

		}

		.Monto {
			font-family:Arial, Helvetica, Sans-Serif;
			font-size:18px;
			color:#888;
			text-transform:uppercase;
			text-align:right;
			margin:0;
			width:50%;
			float:left;
			border-bottom:1px dashed #cccccc;
			border-top:1px dashed #cccccc;
			padding-right:20px;
			}
		
		#TotalDeApuesta {
			font-family:Arial, Helvetica, Sans-Serif;
			font-size:26px;
			color:#888;
			text-transform:uppercase;
			font-weight:bold;
			margin:10px;
			float:right;
			width:220px;
			text-align:center;
			border:1px solid #ccc;
			  -moz-box-shadow:    3px 3px 5px 0px #ccc;
			  -webkit-box-shadow: 3px 3px 5px 0px #ccc;
			  box-shadow:         3px 3px 5px 0px #ccc;
			  height:60px;
		}
		#TotalDelDia {
			font-family:Arial, Helvetica, Sans-Serif;
			font-size:26px;
			color:#ccc;
			text-transform:uppercase;
			font-weight:bold;
			margin:10px;
			float:right;
			width:220px;
			text-align:center;
			border:1px solid #ccc;
			  -moz-box-shadow:    3px 3px 5px 0px #ccc;
			  -webkit-box-shadow: 3px 3px 5px 0px #ccc;
			  box-shadow:         3px 3px 5px 0px #ccc;
			  vertical-align:top;
			  height:60px;

		  }
		#TotalRestringidos {
			font-family:Arial, Helvetica, Sans-Serif;
			font-size:14px;
			color:#ccc;
			text-transform:uppercase;
			font-weight:bold;
			margin:10px;
			text-indent:20px;
			float:right;
			width:462px;
			text-align:left;
			border:1px solid #ccc;
			  -moz-box-shadow:    3px 3px 5px 0px #ccc;
			  -webkit-box-shadow: 3px 3px 5px 0px #ccc;
			  box-shadow:         3px 3px 5px 0px #ccc;
			  vertical-align:top;
			  height:60px;

		  }
		.ComentarioGris {
			background-color:#ccc;
			color:#fff;
			text-transform:uppercase;
			font-family:Arial, Helvetica, Sans-Serif;
			font-size:14px;
			font-weight:bold;
			margin:0;
			padding:0;
			margin-bottom:5px;
		}
		.ComentarioVerde {
			background-color:#6fde25;
			color:#fff;
			text-transform:uppercase;
			font-family:Arial, Helvetica, Sans-Serif;
			font-size:14px;
			font-weight:bold;
			margin:0;
			padding:0;
			margin-bottom:5px;
		}
		.ComentarioNaranja {
			background-color:#fd892c;
			color:#fff;
			text-transform:uppercase;
			font-family:Arial, Helvetica, Sans-Serif;
			font-size:14px;
			font-weight:bold;
			margin:0;
			padding:0;
			margin-bottom:5px;
		}
		#Titulo {
			background-color:#666666;
			color:#fff;
			text-transform:uppercase;
			font-family:Arial, Helvetica, Sans-Serif;
			font-size:12px;
			font-weight:bold;
			margin:2px;
			padding:2px;
			margin-bottom:5px;
		}
		#Teclado {
			margin-top:15px;
			width:230px;
			height:400px;
			float:right;
		}
		#MasyEnter {
			width:60px;
			margin-top:15px;
			height:400px;
			float:right;
			padding-right:35px;
		}
		.CuadradoCalculadora {
			width:66px;
			height:66px;
			font-size:30px;
			padding:5px;
			float:left;
			spacing-top:20px;
			text-align:center;
			vertical-align:middle;
			font-family:Arial, Helvetica, Sans-Serif;
			color:#ffffff;
			text-shadow: 2px 2px  3px #333;
			line-height:55px;
			background-image:url(botonpq.png);
			background-repeat:no-repeat;
		}
		.CuadradoCalculadora2 {
			width:66px;
			height:66px;
			font-size:30px;
			padding:5px;
			float:left;
			spacing-top:20px;
			text-align:center;
			vertical-align:middle;
			font-family:Arial, Helvetica, Sans-Serif;
			color:#ffffff;
						
			background:#fff;
			
		}
		.CuadradoCalculadoraDoble {
			margin-top:5px;
			width:66px;
			height:134px;
			font-size:30px;
			padding:3px;
			float:left;
			font-family:Arial, Helvetica, Sans-Serif;
			color:#ffffff;
			text-shadow: 2px 2px  3px #333;
			line-height:105px;
			background-image:url(botongde.png);
			background-repeat:no-repeat;
		}
		#Display {
			position:relative;
			margin-left:280px;
			margin-bottom:10px;
			width:291px;
			height:62px;
			text-align:right;
			background-image:url(crossfingers.png);
			background-position:left;
			background-repeat:no-repeat;
		}
		#DisplayInt {
			margin-left:30px;
			width:251px;
			height:62px;
			border:0;
			direction: rtl;
			font-family: 'Share Tech Mono', sans-serif;
			font-size:50px;
			text-align:right;
			overflow:hidden;
			
			text-decoration:none;
		}
		#DisplayDinero {
			position:relative;
			margin-left:280px;
			margin-top:170px;
			margin-bottom:10px;
			display:block;
			width:291px;
			height:62px;
			text-align:right;
			background-image:url(colon.png);
			background-position:left;
			background-repeat:no-repeat;
		}
		#DisplayDineroInt {
			margin-left:30px;
			width:251px;
			height:62px;
			border:0;
			font-family: 'Share Tech Mono', sans-serif;
			font-size:50px;
			text-align:right;
			overflow:hidden;
			text-decoration:none;		
		}
		
		#Colon {
			position:relative;
			top:0px;
			left:0px;
			margin:0;
			border:0;
			width:36px;
			height:54px;
			float:left;
			z-idex:100;
		}
		#Cross {
			position:absolute;
			top:200px;
			left:300px;
			
		}
		#Finalizar {
			position:relative;
			margin-left:320px;
			margin-top:320px;
			margin-bottom:10px;
			display:block;
			width:180px;
			height:89px;
			text-align:center;
			vertical-align:middle;
			background-image:url(finalizar.png);
			background-position:center;
			background-repeat:no-repeat;
			font-family:Arial, Helvetica, Sans-Serif;
			color:#ffffff;
			font-size:30px;
			padding-bottom:150px;
		}
		#CerrarDia {
			position:relative;
			top:120px;
			left:215px;
			width:180px;
			line-height:89px;
			height:89px;
			text-align:center;
			vertical-align:middle;
background: rgb(243,197,189); /* Old browsers */
background: -moz-linear-gradient(top, rgba(243,197,189,1) 0%, rgba(232,108,87,1) 50%, rgba(234,40,3,1) 51%, rgba(255,102,0,1) 75%, rgba(199,34,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,197,189,1)), color-stop(50%,rgba(232,108,87,1)), color-stop(51%,rgba(234,40,3,1)), color-stop(75%,rgba(255,102,0,1)), color-stop(100%,rgba(199,34,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 ); /* IE6-9 */
			font-family:Arial, Helvetica, Sans-Serif;
			color:#ffffff;
			font-size:24px;
						border: 3px solid #ccc;
			  -moz-box-shadow:    3px 3px 5px 0px #ccc;
			  -webkit-box-shadow: 3px 3px 5px 0px #ccc;
			  box-shadow:         3px 3px 5px 0px #ccc;
			  border-radius:20px;
			  
		}
		#CerrarDia a {
			color:#FFFFFF;
			font-decoration:none;
		}
		#CerrarDiaComentario {
			position:relative;
			top:160px;
			left:160px;
			width:300px;
			line-height:20px;
			height:20px;
			font-family:Arial, Helvetica, Sans-Serif;
			color:#666666;
			font-size:14px;
		}
		.SorteoCuadro {
			border-radius: 10px; 
			-moz-border-radius: 10px; 
			-webkit-border-radius: 10px; 
			border: 3px solid #fff;
			  -moz-box-shadow:    3px 3px 5px 0px #ccc;
			  -webkit-box-shadow: 3px 3px 5px 0px #ccc;
			  box-shadow:         3px 3px 5px 0px #ccc;
			  width:400px;
			  height:60px;
			  margin:10px;
			font-size:30px;
			text-align:center;
			padding-top:15px;
			font-family:Arial, Helvetica, Sans-Serif;
			text-shadow: 2px 2px  3px #333;
			color:#fff;
			margin-left:85px;
			
			
			/* Safari 4-5, Chrome 1-9 */ 
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#e3e2e2)); 
			
			/* Safari 5.1, Chrome 10+ */ 
			background: -webkit-linear-gradient(top, #e3e2e2, #1a82f7); 
			
			/* Firefox 3.6+ */ 
			background: -moz-linear-gradient(top, #e3e2e2, #1a82f7); 
			
			/* IE 10 */ 
			background: -ms-linear-gradient(top, #e3e2e2, #1a82f7); 
			
			/* Opera 11.10+ */ 
			background: -o-linear-gradient(top, #e3e2e2, #1a82f7); 
			
			
		}
		.SorteoCuadro:hover {
			border-radius: 10px; 
			-moz-border-radius: 10px; 
			-webkit-border-radius: 10px; 
			border: 3px solid #fff;
			  -moz-box-shadow:    3px 3px 5px 0px #ccc;
			  -webkit-box-shadow: 3px 3px 5px 0px #ccc;
			  box-shadow:         3px 3px 5px 0px #ccc;
			  width:400px;
			  height:60px;
			  margin:10px;
			font-size:30px;
			text-align:center;
			padding-top:15px;
			font-family:Arial, Helvetica, Sans-Serif;
			text-shadow: 2px 2px  3px #333;
			color:#fff;
			margin-left:85px;
			
background: rgb(254,204,177); /* Old browsers */
background: -moz-linear-gradient(top, rgba(254,204,177,1) 0%, rgba(241,116,50,1) 50%, rgba(234,85,7,1) 51%, rgba(251,149,94,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,204,177,1)), color-stop(50%,rgba(241,116,50,1)), color-stop(51%,rgba(234,85,7,1)), color-stop(100%,rgba(251,149,94,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */
			
			
		}
		.SorteoCuadroVolver {
			border-radius: 10px; 
			-moz-border-radius: 10px; 
			-webkit-border-radius: 10px; 
			border: 3px solid #fff;
			  -moz-box-shadow:    3px 3px 5px 0px #ccc;
			  -webkit-box-shadow: 3px 3px 5px 0px #ccc;
			  box-shadow:         3px 3px 5px 0px #ccc;
			  width:200px;
			  height:30px;
			  margin:20px;
			font-size:20px;
			text-align:center;
			padding-top:5px;
			font-family:Arial, Helvetica, Sans-Serif;
			text-shadow: 2px 2px  3px #333;
			color:#fff;
			margin-left:85px;
			
			
			/* Safari 4-5, Chrome 1-9 */ 
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666666), to(#e3e2e2)); 
			
			/* Safari 5.1, Chrome 10+ */ 
			background: -webkit-linear-gradient(top, #e3e2e2, #666666); 
			
			/* Firefox 3.6+ */ 
			background: -moz-linear-gradient(top, #e3e2e2, #666666); 
			
			/* IE 10 */ 
			background: -ms-linear-gradient(top, #e3e2e2, #666666); 
			
			/* Opera 11.10+ */ 
			background: -o-linear-gradient(top, #e3e2e2, #666666); 
			
			
		}
		.SorteoTitulo {
			font-size:30px;
			text-align:left;
			float:left;
			text-indent:10px;
			font-family:Arial, Helvetica, Sans-Serif;
			text-shadow: 2px 2px  3px #333;
		}
		.SorteoDetalles {
			font-size:16px;
			text-align:left;
			float:left;
			text-indent:10px;
			font-family:Arial, Helvetica, Sans-Serif;
			text-shadow: 2px 2px  3px #333;
		}
		.SorteoSuerte {
			float:right;
			background-color: #ed1c24;
			height: 50px;
			-moz-border-radius:50px;
			-webkit-border-radius: 50px;
			border-radius:50px;
			width: 50px;
			font-size:30px;
			color:#fff;
			font-weight:bold;
			text-align:center;
			vertical-align:middle;
			margin:0;
			padding:0;
			line-height:50px;
			box-shadow: 10px 10px 5px #888;
		}
		
		.ApuestaInvalida {
			border-radius: 10px; 
			-moz-border-radius: 10px; 
			-webkit-border-radius: 10px; 
			border: 3px solid #fff;
			  -moz-box-shadow:    3px 3px 5px 0px #ccc;
			  -webkit-box-shadow: 3px 3px 5px 0px #ccc;
			  box-shadow:         3px 3px 5px 0px #ccc;
			  width:180px;
			  height:60px;
			  margin:15px;
			font-size:16px;
			text-align:center;
			font-family:Arial, Helvetica, Sans-Serif;
			color:#fff;
			padding-top:15px;
			line-height:14px;
			text-weight:bold;
			background-color:#ff0000;
		}
		.ApuestaValida {
			border-radius: 10px; 
			-moz-border-radius: 10px; 
			-webkit-border-radius: 10px; 
			border: 3px solid #fff;
			  -moz-box-shadow:    3px 3px 5px 0px #ccc;
			  -webkit-box-shadow: 3px 3px 5px 0px #ccc;
			  box-shadow:         3px 3px 5px 0px #ccc;
			  width:180px;
			  height:30px;
			  margin:15px;
			font-size:16px;
			text-align:center;
			font-family:Arial, Helvetica, Sans-Serif;
			color:#fff;
			padding-top:15px;
			line-height:14px;
			text-weight:bold;
			background-color:#328219;
		}
		
		#Dialog-Confirm {
			font-size:10px;
		}
		ul a {
			
			display: block;
			line-height: 40px;
			text-decoration: none;
			font-family: Arial, Helvetica, Sans-serif;
			font-size: 14px;
			color: #ffffff;
			width: 90%;
			float:left;
			font-weight:bold;
						
background: rgb(30,87,153); /* Old browsers */
background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
			border-radius:10px;
			margin-top:10px;
						  -moz-box-shadow:    3px 3px 5px 0px #ccc;
			  -webkit-box-shadow: 3px 3px 5px 0px #ccc;
			  box-shadow:         3px 3px 5px 0px #ccc;
		}
		ul a:hover {
background: rgb(254,204,177); /* Old browsers */
background: -moz-linear-gradient(top, rgba(254,204,177,1) 0%, rgba(241,116,50,1) 50%, rgba(234,85,7,1) 51%, rgba(251,149,94,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,204,177,1)), color-stop(50%,rgba(241,116,50,1)), color-stop(51%,rgba(234,85,7,1)), color-stop(100%,rgba(251,149,94,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */
			  -moz-box-shadow:    3px 3px 5px 0px #ccc;
			  -webkit-box-shadow: 3px 3px 5px 0px #ccc;
			  box-shadow:         3px 3px 5px 0px #ccc;
		}
		ul {
			list-style-type: none;
			height: 40px;
			width: 90%;
			margin: 0;
		
			
		}
		li {
			float: left;
			width:25%;

			
		}
		
	ul p {
			
			display: block;
			line-height: 40px;
			text-decoration: none;
			font-family: Arial, Helvetica, Sans-serif;
			font-size: 14px;
			color: #ccc;
			width: 90%;
			float:left;
			font-weight:bold;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
						
			border-radius:10px;
			margin-top:10px;
						  -moz-box-shadow:    3px 3px 5px 0px #ccc;
			  -webkit-box-shadow: 3px 3px 5px 0px #ccc;
			  box-shadow:         3px 3px 5px 0px #ccc;
			  
		}
		#Header {
			margin:auto;
			padding:0;
			
		}
		
	
		
		#Tabla_container {
			width: 80%;
			margin: auto;
			padding:0;
			display: table;
			border: 1px solid black;
			font-family: Arial, Helvetica, Sans-serif;
			font-size: 12px;

		}

		#Tabla_row  {
			display: table-row;
		}
		
		#Tabla_row:nth-child(odd) {background: #f0f0f0}


		#Tabla_row_head  {
			display: table-row;
			background-color:#666666;
			color:#fff;
		}
		#Tabla_row_final  {
			display: table-row;
			background-color:#666666;
			color:#fff;
		}
		#Tabla_left {
			width:25%;
			padding:1em;
			display: table-cell;
		}

		#Tabla_right {
			width:25%;
			padding:1em;
			display: table-cell;
		}

		#Tabla_middle {
			width:25%;
			padding: 1em;
			display: table-cell;
		}
		
		
		#TablaPeq			{
			width: 400px;
			margin: auto;
			padding:0;
			display: table;
			font-family: Arial, Helvetica, Sans-serif;
			font-size: 12px;		
			border:1px solid #ccc;
		}
		#TablaPeqTR		{
			display: table-row;
		}
		#TablaPeqTDDer		{
			width:60%;
			padding:1em;
			display: table-cell;
			border:3px solid #fff;
			
			text-align:left;
		}
		#TablaPeqTDIzq		{
			width:40%;
			padding:1em;
			display: table-cell;
			background-color:#f0f0f0;
			border:3px solid #fff;
			text-indent:10px;
			text-align:left;
		}
		
		
		#Reversion {
			position:relative;
			top:60px;
			left:215px;
			width:180px;
			line-height:89px;
			height:89px;
			text-align:center;
			vertical-align:middle;
background: rgb(157,213,58); /* Old browsers */
background: -moz-linear-gradient(top, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(157,213,58,1)), color-stop(50%,rgba(161,213,79,1)), color-stop(51%,rgba(128,194,23,1)), color-stop(100%,rgba(124,188,10,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
			font-family:Arial, Helvetica, Sans-Serif;
			color:#ffffff;
			font-size:24px;
			border-radius:20px;
			border:3px solid #ccc;
						  -moz-box-shadow:    3px 3px 5px 0px #ccc;
			  -webkit-box-shadow: 3px 3px 5px 0px #ccc;
			  box-shadow:         3px 3px 5px 0px #ccc;
		}
		
		#Reversion a {
			color:#ffffff;
			text-decoration:none;
		}		
		#Reversion2 {
			position:relative;
			top:20px;
			left:215px;
			width:180px;
			line-height:50px;
			height:50px;
			text-align:center;
			vertical-align:middle;
background: rgb(157,213,58); /* Old browsers */
background: -moz-linear-gradient(top, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(157,213,58,1)), color-stop(50%,rgba(161,213,79,1)), color-stop(51%,rgba(128,194,23,1)), color-stop(100%,rgba(124,188,10,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
			font-family:Arial, Helvetica, Sans-Serif;
			color:#ffffff;
			font-size:18px;
			border-radius:10px;
			border:3px solid #ccc;
						  -moz-box-shadow:    3px 3px 5px 0px #ccc;
			  -webkit-box-shadow: 3px 3px 5px 0px #ccc;
			  box-shadow:         3px 3px 5px 0px #ccc;
		}
		
		#Reversion2 a {
			color:#ffffff;
			text-decoration:none;
		}